# Wildcards
*.db
*.db-journal
*.db-shm
*.db-wal
*.log
*.save
*.save.*
node-red/*

# Files
.HA_VERSION
.uuid
secrets.yaml
www/daniel.png
www/amanda.jpg
www/ramon.jpg
www/mcarmen.jpg
www/andrea.jpg
www/arturo.jpg
html5_push_registrations.conf
known_devices.yaml

# Folders
.cloud/
.storage/
deps/
tts/

# Exclude ignore
!.gitignore
!node-red/flows.json